Mixed Playground/force-app/main/default/flows/flowrep.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Picklist_Assignment</name>
        <label>Picklist Assignment</label>
        <locationX>338</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>Pickilist_Assign_Val</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Report_Choice_Set</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Game</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Folder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Report_Choice_Set</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00l3X000002WKAiQAO</stringValue>
            </value>
        </filters>
        <object>Report</object>
        <outputAssignments>
            <assignToReference>ReportId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>reportsss</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Game</stringValue>
            </value>
        </filters>
        <object>Report</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>testetest</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Game</stringValue>
            </value>
        </filters>
        <object>Folder</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>xpto</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00l3X000002WKAiQAO</stringValue>
            </value>
        </filters>
        <object>Report</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>flowrep {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Report_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Game</name>
        <label>Create Game</label>
        <locationX>473</locationX>
        <locationY>67</locationY>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Game_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReportId__c</field>
            <value>
                <elementReference>Pickilist_Assign_Val</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Game__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>reportss</name>
        <label>reports</label>
        <locationX>204</locationX>
        <locationY>67</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Picklist_Assignment</targetReference>
        </connector>
        <fields>
            <name>Game_Name</name>
            <dataType>String</dataType>
            <fieldText>Game Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Picklist_Report</name>
            <choiceReferences>Report_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Report</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>76</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>reportss</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Name_Game</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Pickilist_Assign_Val</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
